{{>header}}
    <div class="dialog-card-square mdl-card mdl-shadow--16dp">
      <div class="mdl-card__title "></div>
      <div class="mdl-card__supporting-text">

        {{#if status}}
          <div class="token-warn-panel">
            <span class="token-confirmation-message">{{{__ "view_reset_confirmation_ok"}}}</span>
            <div class="token-confirmation-image"></div> 
          </div>  
        {{else}}
          <div class="token-warn-panel">
            <span class="token-error-message">{{{__ "view_reset_token_expired"}}}</span>
            <div class="token-error-image"></div> 
          </div>  
        {{/if}}
        
      </div>
    </div>
{{>footer}}